.chart__container {
    width: 100%;
    height: 50vh;
    
}

.pie__container {
    width: 100%;
    height: 50vh;
    overflow: visible;
}

.custom-tooltip {
    max-width: 400px;
}

svg {
    overflow: visible !important;
}

.tweet-placeholder {
    height: 200px;
}

svg text::selection { background: none; }


tspan::selection { background: none; }