.chart__container {
    width: 100%;
    height: 40vh;
    
}

.pie__container {
    width: 100%;
    height: 40vh;
    
    overflow: visible;
}

.custom-tooltip {
    max-width: 400px;
}

svg {
    overflow: visible !important;
}